* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #f5f5f5;
}
.container {
  width: 85%;
  margin: 0 auto;
}
.cruds-operation {
  padding: 20px;
  margin: 10px 0 2px;
  border-radius: 10px 10px 0 0;
  text-align: center;
  color: #fff;
  background-color: #6ca845;
}
.cruds-operation h2 {
  font-size: 35px;
  font-weight: 300;
  text-transform: capitalize;
}
.form {
  display: flex;
  padding: 15px;
  gap: 30px;
  background-color: #6ca845;
}
.p-name {
  width: 20%;
}
.p-name input{
    width: 100%;
  }
.p-details {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 30px;
  flex-wrap: wrap;
}
.form label {
  display: block;
  margin-bottom: 5px;
  color: #fff;
  font-size: 18px;
  text-transform: capitalize;
}
.form  input {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid transparent;
  outline: none;
  font-size: 16px;
}
.form  input:focus {
  color: #fff;
  border: 1px solid #fff;
  background-color: #1716164f;
}
.form .p-details input{
    width: 120px;
}
.form .p-total div{
    width: 100px;
    padding: 10px;
    border-radius: 5px;
    color: #fff;
    font-weight: 500;
    text-align: center;
    background-color: green;
}
.add-product{
  padding: 10px 0 40px;
  margin-bottom: 3px;
  border-radius: 0 0 10px 10px;
  text-align: center;
  background-color: #6ca845;
}
.add-product button{
  width: 25%;
  padding: 15px;
  outline: none;
  border: none;
  border-radius: 10px;
  font-size: 18px;
  text-transform: capitalize;
  color: #fff;
  background-color: green;
  cursor: pointer;
}
.producs{
  padding: 15px;
  border-radius: 10px;
  background-color: rgb(55, 103, 103);
}
.producs .search{
  text-align: end;
  margin-bottom: 10px;
}
.producs .search input{
  width: 300px;
  padding: 8px;
  border-radius: 5px;
  font-size: 18px;
  outline: none;
  border: none;
}
.producs .search button{
  padding: 10px 15px;
  border-radius: 5px;
  outline: none;
  border: none;
  font-size: 16px;
  cursor: pointer;
}
.producs .search .s-by-name{
  margin: 0 15px;
  background-color: #6ca845;
}
.producs .search .s-by-categort{
 background-color:#fff ;
}
table thead th{
  width: 150px;
  padding: 10px 0px;
  font-size: 22px;
  font-weight: 300;
  text-transform: uppercase;
  color: #fff;
  background-color: #6ca845;
}
table tbody td{
  padding: 10px 0;
  font-size: 19px;
  font-weight: 300;
  text-align: center;
  text-transform: capitalize;
  color: #fff;
  background-color: #6ca845;
}